@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  height: 100%;
  width: 100%;
}
